.NavBar {
    display: flex;
    position: relative;
    background-color: rgb(23, 23, 23);
    align-items: center;
    height: 10vh;
    margin: 2.5% 0 2% 0;

}

.NavBar .logo {
    width: 28%;
}

.NavBar .Categories {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 25px;
}

.NavBar a {
    color: white;
    text-decoration: none;
}

